<!DOCTYPE html>
<html>
<head lang="en">
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }

        table{
            width:100%
        }

        a.exportLink{
            display: block;
            font-size: 16px;
            font-weight: bold;
        }
    </style>

    <meta charset="UTF-8">
    <title>{{@root.title}}</title>
</head>
<body>
<a href="/exportdocx" class="exportLink">Export Generated Word</a>
<h1>Map</h1>

<img src="../Images/map.jpg" style="display:block;width: 500px;height: 400px">

<h1>Text</h1>
{{@root.body}}

<h1>Chart</h1>
<img src="../Images/charts-bar.jpg" style="display:inline-block;width: 300px;height: 200px">
<img src="../Images/charts-line.jpg" style="display:inline-block;width: 300px;height: 200px">
<h1>Table</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            {{#each @root.charts.datatable.headers}}
                <th>{{label}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each @root.charts.datatable.data}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>
